<div class="page_content">
    <div class="form_container">
        <h3>Бронирование номера</h3>
        <form
            class="form"
            *ngIf="roomTypes$ | async as roomTypes"
            action=""
            [formGroup]="bookingForm"
            novalidate
            (ngSubmit)="submit()"
        >
            <app-input
                [props]="inputsInfo[0]"
                [hiddeError]="bookingForm.controls.firstName.valid || notSent"
            >
                <input
                    type="text"
                    id="input_first_name"
                    formControlName="firstName"
                >
            </app-input>
            <app-input
                [props]="inputsInfo[1]"
                [hiddeError]="bookingForm.controls.lastName.valid || notSent"
            >
                <input
                    type="text"
                    id="input_last_name"
                    formControlName="lastName"
                >
            </app-input>
            <app-input
                [props]="inputsInfo[2]"
                [hiddeError]="bookingForm.controls.patronymicName.valid || notSent"
                [notRequired]="true"
            >
                <input
                    type="text"
                    id="input_patronymic_name"
                    formControlName="patronymicName"
                >
            </app-input>
            <app-input
                [props]="inputsInfo[3]"
                [hiddeError]="true"
                [notRequired]="true"
            >
                <input
                    type="date"
                    id="input_birthday"
                    formControlName="birthday"
                >
            </app-input>
            <div class="input_container">
                <label for="select_room_type">
                    Выберите тип номера<span style="color: red">*</span>
                </label>
                <select id="select_room_type" formControlName="roomType" (change)="setCountOfGuests()">
                    <option [ngValue]="null" selected disabled>Выберите тип номера</option>
                    <option *ngFor="let type of roomTypes" [ngValue]="type.id">
                        {{type.name}}
                    </option>
                </select>
                <div [hidden]="bookingForm.controls.roomType.valid || notSent" style="color: red">
                    Заполните поле
                </div>
            </div>
            <app-input
                [props]="inputsInfo[4]"
                [hiddeError]="bookingForm.controls.countOfGuests.valid || notSent"
            >
                <input
                    type="number"
                    [max]="maxValueGuests"
                    id="count_of_guests"
                    formControlName="countOfGuests"
                    [attr.disabled]="lockCountInput ? '' : null"
                >
            </app-input>
            <app-input
                [props]="inputsInfo[5]"
                [hiddeError]="bookingForm.controls.startDate.valid || notSent"
            >
                <input
                    type="date"
                    id="input_start_date"
                    formControlName="startDate"
                >
            </app-input>
            <app-input
                [props]="inputsInfo[6]"
                [hiddeError]="bookingForm.controls.endDate.valid || notSent"
            >
                <input
                    type="date"
                    id="input_end_date"
                    formControlName="endDate"
                >
            </app-input>
            <div class="checkbox">
                <label for="input_with_animal">
                    С животными
                </label>
                <input
                    type="checkbox"
                    id="input_with_animal"
                    formControlName="withAnimal"
                    [attr.disabled]="lockCheckbox ? '' : null"
                >
            </div>
            <div [hidden]="notSent || bookingForm.valid" style="color: red; margin-bottom: 10px">
                Заполните все необходимые поля корректно
            </div>
            <button
                class="form_btn"
                type="submit"
            >
                Забронировать
            </button>
        </form>
    </div>
</div>
